@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('typeface');
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

h1, p, h5 {
  margin: 0;
  font-family: 'Figtree';
}

.blog-preview {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 10px 10px 0 black;
}
.blog-image {
  display: flex;
  width: 100%;
  justify-content: center;
}
.blog-image img{
  width: 100%;
  border-radius: 20px;
}
header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
header div {
  background-color:hsl(47, 88%, 63%);
  width: 17%;
  padding: 4px 8px;
  border-radius: 4px;
}
header div h5 {
  font-size: 14px;
}
header p {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 4px;
}
main {
  margin-top: 12px;
}
h1 {
  font-size: 24px;
  font-weight: 800;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: color 0.15s,
  opacity 0.15s;
  cursor: pointer;
}
h1:hover {
  color:hsl(47, 88%, 63%);
}
main p {
  font-size: 16px;
  margin-top: 12px;
  color: hsl(0, 0%, 42%);
  line-height: 25px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 4px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 32px;
  align-items: center;
  gap: 12px;
}
footer img {
  height: 100%;
}
footer h5 {
  font-weight: 800;
  font-size: 14px;
}
.attribution {
  position: fixed;
  bottom: 20px;
}